@tailwind base;
@tailwind components;
@tailwind utilities;

.Myhome{
  height: 20vh;
  width: 30%;
  background-color: aqua;
  padding: 5px;
  display: flex ;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 20vh;
  
}
.about{
  height: 20vh;
  width: 20%;
  background-color: red;
  padding: 5px;
  display: flex ;
  justify-content: space-between;
  position: absolute;
  left: 30%;
  top: 20vh;
 
  
}
.service{
  height: 20vh;
  width: 20%;
  background-color: red;
  padding: 5px;
  display: flex ;
  justify-content: space-between;
  position: absolute;
  left: 55%;
  top: 20vh;
  
  
}
.blog{
  height: 20vh;
  width: 20%;
  background-color: red;
  padding: 5px;
  display: flex ;
  justify-content: space-between;
  position: absolute;
  left: 80%;
  top: 20vh;
  
}